table {
  margin: 20px;
}

.white {
  height: 50px;
  width: 50px;
  background-color: rgb(156, 156, 156);
  padding: auto;
}

.black {
  height: 20px;
  width: 20px;
  background-color: rgb(12, 2, 2);
  margin: 0px;
  padding: auto;
}
.possible-move {
  background: rgba(122, 224, 127, 0.493)
}

img {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

.selected {
  background-color: rgb(122, 189, 34);
}