table {
  margin: 20px;
}

.light-cell {
  background: rgb(211, 210, 210);
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: rgb(63, 63, 63);
  width: 45px;
  height: 45px;
}

.selected {
  background: rgb(197, 197, 83);
}

.possible-move {
  background: rgb(46, 186, 221);
}

img {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

.selected {
  background-color: rgb(122, 189, 34);
}