table {
  margin: 50px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: rgb(156, 156, 156);
  padding: auto;
}

.black {
  height: 60px;
  width: 60px;
  background-color: rgb(12, 2, 2);
}

.possible-move {
  background: rgba(122, 224, 127, 0.493)
}

img {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  margin-left: auto;
  margin-right: auto;
}

.selected {
  background-color: rgb(122, 189, 34);
}

td {
  text-align: center;
}